<div class="partial">
<a ng-class="{selected: url === '/players/list'}" href="#!/players/list">List</a>
<a ng-class="{selected: url === '/players/addplayer'}" href="#!/players/addplayer">Add Player</a>

<h1>players list</h1>
<table>
    <tr>
        <th>Player name</th>
        <th>Position</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat='player in players'>
        <td>{{player.name}}</td>
        <td>{{player.position}}</td>
        <td><button ng-click='deletePlayer(player._id, player.name)'>Delete player</button></td>
    </tr>
</table>
</div>